@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html{
    cursor: url("../data/cursor-face.png") 18 18, auto;
}

::selection {
    background: lime;
}

body{
    margin: 0;
    font-family: 'Secular One', sans-serif;
}

#title{
    width: fit-content;
    font-size: 3vw;/*32pt*/
    margin: 20px 0 0 20px;
}

#title a{
    color: black;
    text-decoration-line: none;
}

#list{
    width: fit-content;
    font-size: 1.6vw ;/*18pt*/
    margin: 10px 0 0 20px;
}

#list a{
    display: block;
    width: fit-content;
    margin: 0;
    color: black;
    text-decoration-line: none;
}

#title a:hover{
    color: lime;
    cursor: pointer;
}

#list a:hover{
    text-decoration-line: underline;
    color: lime;
    cursor: pointer;
}


/* About */

#About #about-text{
    text-align: justify;
    letter-spacing: 0.02rem;
    font-size: 1vw;
    width: 30%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#About #social{
    text-align: center;
    font-size: 1.29vw;
    margin-top: 20px;
    text-decoration-line: underline;
    text-decoration-color: lime;
}

#About .social-network{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#About .social-network svg:hover{
    cursor: pointer;
    fill: lime;
}

#About .draggable {
    background-color:#00ff00;
    font-size: 1vw;
    padding:3px;
    margin: 2px;
    position: absolute;
}

#About .draggable:hover{
    cursor: grab;
}

#About #div1,#div2,#div3,#div4,#div5 {
    display:inline-block;
    min-width:40px;
    min-height:0;
    border-style:solid;
    border-width:0;
    border-bottom-width:2px;
    padding-top: 10px;
}

#About #reload{
    position: absolute;
    bottom: 20px;
    margin-left: 20px;
    font-size: 1vw;
    text-decoration-line: underline;
}

#About #reload:hover{
    cursor: pointer;
    color: lime;
    text-decoration-color: lime;
}

/* Work */

#Work body{
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Work main{
    position: fixed;
    z-index: -1;
}

#Work #sidebar{
    position: fixed;
}

#Work #works-container{
    width: 45%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#Work .work{
    position: relative;
    width: 100%;
    height: 100%;
    outline: solid black 15px;
}

#Work .work:last-child{
    margin-bottom: 100px;
}

#Work .work-text{
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

#Work .work-text p{
    font-size: 1vw;
    padding: 10px 20px;
}

#Work .work:hover{
    outline-color: lime;
    cursor: pointer;
}

#Work .work:hover .work-text{
    visibility: visible;
}

#Work img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}


/* Responsividade */

@media only screen and (max-width: 820px) {
    #title{
        font-size: 4vw;
        margin: 20px auto auto auto;
    }

    #list{
        font-size: 2.2vw;
        margin: 10px auto auto auto;
    }

    #list a{
        margin: auto;
    }

    #Work #sidebar{
        width: 100%;
        left: 50%;
        transform: translate(-50%,0);
        background-color: white;
        padding-bottom: 30px;
        z-index: 1;
    }

    #Work #works-container{
        width: 70%;
        gap: 50px;
    }

    #Work .work-text p{
        font-size: 1.5vw;
    }

    #Work .work{
        outline: solid black 10px;
    }

    #About #about-text{
        font-size: 3vw;
        width: 70%;
    }

    #About #social {
        font-size: 2.92vw;
    }

    #About .draggable{
        font-size: 3vw;
    }
}

@media only screen and (max-width: 550px) {
    #title{
        font-size: 6vw;
        margin: 20px auto auto auto;
    }

    #list{
        font-size: 4.2vw;
        margin: 10px auto auto auto;
    }

    #Work .work{
        outline: solid black 5px;
    }
}

@media only screen and (max-width: 425px) {
    #div1,#div2,#div3,#div4,#div5 {
        min-width:25px;
        border-bottom-width:1.5px;
    }
}