@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html{
    cursor: none;
}

body{
    margin: 0;
    font-family: 'Secular One', sans-serif;

}

#title{
    width: fit-content;
    font-size: 3vw;/*32pt*/
    margin: 20px 0 0 20px;
}

#title a{
    color: black;
    text-decoration-line: none;
}

#list{
    width: fit-content;
    font-size: 1.6vw ;/*18pt*/
    margin: 10px 0 0 20px;
}

#list a{
    display: block;
    width: fit-content;
    margin: 0;
    color: black;
    text-decoration-line: none;
}

#title a:hover{
    color: lime;
    cursor: pointer;
}

#list a:hover{
    text-decoration-line: underline;
    color: lime;
    cursor: pointer;
}

#about-text{
    text-align: justify;
    letter-spacing: 0.02rem;
    font-size: 12pt;
    width: 30%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media only screen and (max-width: 820px) {
    #title{
        font-size: 4vw;
        margin: 20px auto auto auto;
    }

    #list{
        font-size: 2.2vw;
        margin: 10px auto auto auto;
    }

    #list a{
        margin: auto;
    }
}

@media only screen and (max-width: 550px) {
    #title{
        font-size: 6vw;
        margin: 20px auto auto auto;
    }

    #list{
        font-size: 4.2vw;
        margin: 10px auto auto auto;
    }
}