@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html{
    cursor: url("../data/cursor-face.png") 18 18, auto;
}

::selection {
    background: lime;
}

body{
    margin: 0;
    font-family: 'Secular One', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    position: fixed;
    z-index: -1;
}

#sidebar{
    position: fixed;
}

#title{
    width: fit-content;
    font-size: 3vw;
    margin: 20px 0 0 20px;
}

#title a{
    color: black;
    text-decoration-line: none;
}

#title a:hover{
    color: lime;
    cursor: pointer;
}

#list{
    width: fit-content;
    font-size: 1.6vw;
    margin: 10px 0 0 20px;
}

#list a{
    display: block;
    width: fit-content;
    margin: 0;
    color: black;
    text-decoration-line: none;
}

#list a:hover{
    text-decoration-line: underline;
    color: lime;
    cursor: pointer;
}

#works-container{
    width: 45%;
    height: auto;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.work{
    position: relative;
    width: 100%;
    height: 100%;
    outline: solid black 15px;
}

.work:last-child{
    margin-bottom: 100px;
}

.work-text{
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.work-text p{
    font-size: 0.94vw;
    padding: 10px 20px;
}


.work:hover{
    outline-color: lime;
    cursor: pointer;
}

.work:hover .work-text{
    visibility: visible;
}

img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
















